<div class="mastfoot">
    <div class="inner">
        <p>Fork me on <a href="https://github.com/pCyril">Github</a> based on <a href="https://github.com/JuanPotato/Legofy">JuanPotato / Legofy</a>, by <a href="https://twitter.com/PerraudCyril">@PerraudCyril</a>.</p>
    </div>
</div>