<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Legofizer</h3>
        <nav>
            <ul class="nav masthead-nav">
                <li {% if menuActive == 'home' %}class="active"{% endif %}><a href="{{ path('homepage') }}">Home</a></li>
                <li {% if menuActive == 'gallery' %}class="active"{% endif %}><a href="{{ path('gallery') }}">Gallery</a></li>
                <li {% if menuActive == 'videos' %}class="active"{% endif %}><a href="{{ path('videos-legofy') }}">Videos</a></li>
            </ul>
        </nav>
    </div>
</div>
