.cover-heading {
    margin-bottom: 50px;
}

.inner.cover {
    padding-top: 100px;
}

.dropzone {
    min-height: 250px;
    padding: 20px 20px;
    border: 2px dashed #034882;
    border-radius: 5px;
    background: white;
    position: relative;
    text-shadow: none;
}

.dropzone .alert {
    display: none;
}

.dropzone .alert a, a:focus, a:hover {
    color: #000000;
}

.dz-message.needsclick {
    color: #636363;
    font-size: 1.5em;
}

.submit-container input{
    margin-top: 15px;
}

#particles-js {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.submit-dropzone {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    color: #636363;
}

.note.needsclick {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}