<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Legofy -->
<div class="ads"><ins class="adsbygoogle"
                      style="display:inline-block;width:728px;height:90px"
                      data-ad-client="ca-pub-8877688962043608"
                      data-ad-slot="5339589048"></ins>
</div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Legofy mobile -->
<div class="ads-mobile"><ins class="adsbygoogle"
                             style="display:inline-block;width:320px;height:100px"
                             data-ad-client="ca-pub-8877688962043608"
                             data-ad-slot="9630187840"></ins></div>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>