{% extends "::base.html.twig" %}
{% block title %}
    Gallery - Legofy your images online
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/extra.css') }}">
    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
{% endblock %}
{% block body %}
    <div class="inner cover">
        <div class="row">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Legofy -->
            <div style="margin-bottom: 50px; background: #ffffff"><ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-8877688962043608"
                 data-ad-slot="5339589048"></ins>
            </div>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="col-md-6">
                <a href="#" class="thumbnail">
                    <img alt="100%x180" style="width: 100%; display: block;" src="/images/{{ image.name }}" data-holder-rendered="true">
                </a>
            </div>
            <div class="col-md-6">
                <span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_pinterest_hcount' displayText='Pinterest'></span>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
